@model SGBL.Models.ViewModelAutor

@{
    ViewData["Title"] = "Agregar Nuevo Autor";
}

<h1>@ViewData["Title"]</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarAutor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" placeholder="Ingrese el apellido" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nacionalidad" class="control-label"></label>
                <input asp-for="Nacionalidad" class="form-control" placeholder="Ingrese la nacionalidad" />
                <span asp-validation-for="Nacionalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" placeholder="Ingrese la fecha de nacimiento" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>

        @if (ViewData["Alerta"] != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewData["Alerta"]
            </div>
        }
    </div>
</div>

<style>
    /* Estilos personalizados */
    .form-group {
        margin-bottom: 20px;
    }
</style>
